.vscode/
.gdb_history
build/
test/1al1_0cyc.mtz.gz
test/1al1_0cyc.pdb
test/1al1.mtz
test/1ct1_diff.ccp4
test/1ct1.ccp4
test/1ct1.eds
test/1eis_diff.ccp4
test/1eis.ccp4
test/1eis.eds
test/1ev1_diff.ccp4
test/1ev1.ccp4
test/1ev1.eds
test/1m6c_diff.ccp4
test/1m6c.ccp4
test/1m6m_diff.ccp4
test/1m6m.ccp4
test/1mdn_diff.ccp4
test/1mdn.ccp4
test/1mdn.cif
test/1mdn.mtz
test/1nwr_diff.ccp4
test/1nwr.ccp4
test/1nwr.eds
test/1phw_diff.ccp4
test/1phw.ccp4
test/1phw.eds
test/1tes_diff.ccp4
test/1tes_final.mtz
test/1tes.ccp4
test/1tes.mtz
test/2qws_diff.ccp4
test/2qws.ccp4
test/2qws.eds
test/2qws.mtz
test/3kyv_diff.ccp4
test/3kyv_diff.ccp4.1
test/3kyv.ccp4
test/3kyv.ccp4.1
test/3kyv.eds
test/3kyv.mtz
test/4j8w_diff.ccp4
test/4j8w.ccp4
test/4j8w.eds
test/5elc_diff.ccp4
test/5elc.ccp4
test/5elc.eds
test/6deu_diff.ccp4
test/6deu.ccp4
test/6deu.eds
test/6ggu_diff.ccp4
test/6ggu.ccp4
test/6ggu.eds
test/6nlv_diff.ccp4
test/6nlv.ccp4
test/6nlv.eds
test/6qe9_diff.ccp4
test/6qe9.ccp4
test/6qe9.eds
test/6qea_diff.ccp4
test/6qea.ccp4
test/6qea.eds
test/6uqc_diff.ccp4
test/6uqc.ccp4
test/6uqc.eds
test/6y3s.ccp4
test/126d_diff.ccp4
test/126d.ccp4
test/145d_diff.ccp4
test/145d.ccp4
test/150d_diff.ccp4
test/150d.ccp4
test/pdb1al1.ent.gz
test/raw_data_df_1.0.4_rerun/1mdn/1mdn_0cyc.mtz
test/raw_data_df_1.0.4_rerun/1mdn/1mdn_redo.log
test/raw_data_df_1.0.4_rerun/1mdn/1mdn_refl.log
test/raw_data_df_1.0.4_rerun/1mdn/1mdn_sigma.log
test/raw_data_df_1.0.4_rerun/1mdn/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/1mdn/in.sf.cif
test/raw_data_df_1.0.4_rerun/1mdn/recalc.eds
test/raw_data_df_1.0.4_rerun/1mdn/redo.eds
test/raw_data_df_1.0.4_rerun/1mdn/refl.mtz
test/raw_data_df_1.0.4_rerun/1mdn/sigmaA.eds
test/raw_data_df_1.0.4_rerun/1mdn/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_0cyc.mtz
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_redo_v4.json
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_redo.log
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_refl.log
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_sigma_v4.json
test/raw_data_df_1.0.4_rerun/1mtc/1mtc_sigma.log
test/raw_data_df_1.0.4_rerun/1mtc/1mtc.eds
test/raw_data_df_1.0.4_rerun/1mtc/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/1mtc/in.sf.cif
test/raw_data_df_1.0.4_rerun/1mtc/redo.eds
test/raw_data_df_1.0.4_rerun/1mtc/refl.mtz
test/raw_data_df_1.0.4_rerun/1mtc/sigmaA.eds
test/raw_data_df_1.0.4_rerun/1mtc/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/1tes/1tes_0cyc.mtz
test/raw_data_df_1.0.4_rerun/1tes/1tes_redo.log
test/raw_data_df_1.0.4_rerun/1tes/1tes_refl.log
test/raw_data_df_1.0.4_rerun/1tes/1tes_sigma.log
test/raw_data_df_1.0.4_rerun/1tes/1tes.eds
test/raw_data_df_1.0.4_rerun/1tes/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/1tes/in.sf.cif
test/raw_data_df_1.0.4_rerun/1tes/redo.eds
test/raw_data_df_1.0.4_rerun/1tes/refl.mtz
test/raw_data_df_1.0.4_rerun/1tes/sigmaA.eds
test/raw_data_df_1.0.4_rerun/1tes/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_0cyc.mtz
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_redo_v4.json
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_redo.log
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_refl.log
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_sigma_v4.json
test/raw_data_df_1.0.4_rerun/1uf2/1uf2_sigma.log
test/raw_data_df_1.0.4_rerun/1uf2/1uf2.eds
test/raw_data_df_1.0.4_rerun/1uf2/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/1uf2/in.sf.cif
test/raw_data_df_1.0.4_rerun/1uf2/redo.eds
test/raw_data_df_1.0.4_rerun/1uf2/refl.mtz
test/raw_data_df_1.0.4_rerun/1uf2/sigmaA.eds
test/raw_data_df_1.0.4_rerun/1uf2/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/2cg1/2cg1_0cyc.mtz
test/raw_data_df_1.0.4_rerun/2cg1/2cg1_redo.log
test/raw_data_df_1.0.4_rerun/2cg1/2cg1_refl.log
test/raw_data_df_1.0.4_rerun/2cg1/2cg1_sigma.log
test/raw_data_df_1.0.4_rerun/2cg1/2cg1.eds
test/raw_data_df_1.0.4_rerun/2cg1/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/2cg1/in.sf.cif
test/raw_data_df_1.0.4_rerun/2cg1/redo.eds
test/raw_data_df_1.0.4_rerun/2cg1/refl.mtz
test/raw_data_df_1.0.4_rerun/2cg1/sigmaA.eds
test/raw_data_df_1.0.4_rerun/2cg1/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/4mb4/4mb4_0cyc.mtz
test/raw_data_df_1.0.4_rerun/4mb4/4mb4_redo.log
test/raw_data_df_1.0.4_rerun/4mb4/4mb4_refl.log
test/raw_data_df_1.0.4_rerun/4mb4/4mb4_sigma.log
test/raw_data_df_1.0.4_rerun/4mb4/4mb4.eds
test/raw_data_df_1.0.4_rerun/4mb4/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/4mb4/in.sf.cif
test/raw_data_df_1.0.4_rerun/4mb4/redo.eds
test/raw_data_df_1.0.4_rerun/4mb4/refl.mtz
test/raw_data_df_1.0.4_rerun/4mb4/sigmaA.eds
test/raw_data_df_1.0.4_rerun/4mb4/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/4yt9/4yt9_0cyc.mtz
test/raw_data_df_1.0.4_rerun/4yt9/4yt9_redo.log
test/raw_data_df_1.0.4_rerun/4yt9/4yt9_refl.log
test/raw_data_df_1.0.4_rerun/4yt9/4yt9_sigma.log
test/raw_data_df_1.0.4_rerun/4yt9/4yt9.eds
test/raw_data_df_1.0.4_rerun/4yt9/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/4yt9/in.sf.cif
test/raw_data_df_1.0.4_rerun/4yt9/redo.eds
test/raw_data_df_1.0.4_rerun/4yt9/refl.mtz
test/raw_data_df_1.0.4_rerun/4yt9/sigmaA.eds
test/raw_data_df_1.0.4_rerun/4yt9/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/5fhv/5fhv_0cyc.mtz
test/raw_data_df_1.0.4_rerun/5fhv/5fhv_redo.log
test/raw_data_df_1.0.4_rerun/5fhv/5fhv_refl.log
test/raw_data_df_1.0.4_rerun/5fhv/5fhv_sigma.log
test/raw_data_df_1.0.4_rerun/5fhv/5fhv.eds
test/raw_data_df_1.0.4_rerun/5fhv/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/5fhv/in.sf.cif
test/raw_data_df_1.0.4_rerun/5fhv/redo.eds
test/raw_data_df_1.0.4_rerun/5fhv/refl.mtz
test/raw_data_df_1.0.4_rerun/5fhv/sigmaA.eds
test/raw_data_df_1.0.4_rerun/5fhv/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/5ojo/5ojo_0cyc.mtz
test/raw_data_df_1.0.4_rerun/5ojo/5ojo_redo.log
test/raw_data_df_1.0.4_rerun/5ojo/5ojo_refl.log
test/raw_data_df_1.0.4_rerun/5ojo/5ojo_sigma.log
test/raw_data_df_1.0.4_rerun/5ojo/5ojo.eds
test/raw_data_df_1.0.4_rerun/5ojo/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/5ojo/in.sf.cif
test/raw_data_df_1.0.4_rerun/5ojo/redo.eds
test/raw_data_df_1.0.4_rerun/5ojo/refl.mtz
test/raw_data_df_1.0.4_rerun/5ojo/sigmaA.eds
test/raw_data_df_1.0.4_rerun/5ojo/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_0cyc.mtz
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_redo_v4.json
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_redo.log
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_refl.log
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_sigma_v4.json
test/raw_data_df_1.0.4_rerun/5r5m/5r5m_sigma.log
test/raw_data_df_1.0.4_rerun/5r5m/5r5m.eds
test/raw_data_df_1.0.4_rerun/5r5m/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/5r5m/in.sf.cif
test/raw_data_df_1.0.4_rerun/5r5m/redo.eds
test/raw_data_df_1.0.4_rerun/5r5m/refl.mtz
test/raw_data_df_1.0.4_rerun/5r5m/sigmaA.eds
test/raw_data_df_1.0.4_rerun/5r5m/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/6qe9/6qe9_0cyc.mtz
test/raw_data_df_1.0.4_rerun/6qe9/6qe9_redo.log
test/raw_data_df_1.0.4_rerun/6qe9/6qe9_refl.log
test/raw_data_df_1.0.4_rerun/6qe9/6qe9_sigma.log
test/raw_data_df_1.0.4_rerun/6qe9/6qe9.eds
test/raw_data_df_1.0.4_rerun/6qe9/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/6qe9/in.sf.cif
test/raw_data_df_1.0.4_rerun/6qe9/redo.eds
test/raw_data_df_1.0.4_rerun/6qe9/refl.mtz
test/raw_data_df_1.0.4_rerun/6qe9/sigmaA.eds
test/raw_data_df_1.0.4_rerun/6qe9/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/7c94/7c94_0cyc.mtz
test/raw_data_df_1.0.4_rerun/7c94/7c94_redo.log
test/raw_data_df_1.0.4_rerun/7c94/7c94_refl.log
test/raw_data_df_1.0.4_rerun/7c94/7c94_sigma.log
test/raw_data_df_1.0.4_rerun/7c94/7c94.eds
test/raw_data_df_1.0.4_rerun/7c94/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/7c94/in.sf.cif
test/raw_data_df_1.0.4_rerun/7c94/redo.eds
test/raw_data_df_1.0.4_rerun/7c94/refl.mtz
test/raw_data_df_1.0.4_rerun/7c94/sigmaA.eds
test/raw_data_df_1.0.4_rerun/7c94/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/7cmw/7cmw_0cyc.mtz
test/raw_data_df_1.0.4_rerun/7cmw/7cmw_redo.log
test/raw_data_df_1.0.4_rerun/7cmw/7cmw_refl.log
test/raw_data_df_1.0.4_rerun/7cmw/7cmw_sigma.log
test/raw_data_df_1.0.4_rerun/7cmw/7cmw.eds
test/raw_data_df_1.0.4_rerun/7cmw/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/7cmw/in.sf.cif
test/raw_data_df_1.0.4_rerun/7cmw/redo.eds
test/raw_data_df_1.0.4_rerun/7cmw/refl.mtz
test/raw_data_df_1.0.4_rerun/7cmw/sigmaA.eds
test/raw_data_df_1.0.4_rerun/7cmw/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/7k7l/7k7l_0cyc.mtz
test/raw_data_df_1.0.4_rerun/7k7l/7k7l_redo.log
test/raw_data_df_1.0.4_rerun/7k7l/7k7l_refl.log
test/raw_data_df_1.0.4_rerun/7k7l/7k7l_sigma.log
test/raw_data_df_1.0.4_rerun/7k7l/7k7l.eds
test/raw_data_df_1.0.4_rerun/7k7l/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/7k7l/in.sf.cif
test/raw_data_df_1.0.4_rerun/7k7l/redo.eds
test/raw_data_df_1.0.4_rerun/7k7l/refl.mtz
test/raw_data_df_1.0.4_rerun/7k7l/sigmaA.eds
test/raw_data_df_1.0.4_rerun/7k7l/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_0cyc.mtz
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_redo_v4.json
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_redo.log
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_refl.log
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_sigma_v4.json
test/raw_data_df_1.0.4_rerun/7k8r/7k8r_sigma.log
test/raw_data_df_1.0.4_rerun/7k8r/7k8r.eds
test/raw_data_df_1.0.4_rerun/7k8r/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/7k8r/in.sf.cif
test/raw_data_df_1.0.4_rerun/7k8r/redo.eds
test/raw_data_df_1.0.4_rerun/7k8r/refl.mtz
test/raw_data_df_1.0.4_rerun/7k8r/sigmaA.eds
test/raw_data_df_1.0.4_rerun/7k8r/sigmaA.mtz
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_0cyc.mtz
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_redo_v4.json
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_redo.log
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_refl.log
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_sigma_v4.json
test/raw_data_df_1.0.4_rerun/8a3h/8a3h_sigma.log
test/raw_data_df_1.0.4_rerun/8a3h/8a3h.eds
test/raw_data_df_1.0.4_rerun/8a3h/in.mmcif.cif
test/raw_data_df_1.0.4_rerun/8a3h/in.sf.cif
test/raw_data_df_1.0.4_rerun/8a3h/redo.eds
test/raw_data_df_1.0.4_rerun/8a3h/refl.mtz
test/raw_data_df_1.0.4_rerun/8a3h/sigmaA.eds
test/raw_data_df_1.0.4_rerun/8a3h/sigmaA.mtz
